[Desktop Entry]
Comment=Completely transparent maia theme for kde plasma 5 desktop, Modified Dark
Name=Maia transparent Remix
X-KDE-PluginInfo-Author=Michał Dybczak
X-KDE-PluginInfo-Version=v.2
